/* .income-form-container {
    text-align: left; 
    background-color: #0056b3;
  }
  .income-form-container button[type="submit"] {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
  }
  .income-form-container input[type="text"],
.income-form-container input[type="number"],
.income-form-container input[type="date"] {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 10px; 
  box-sizing:content-box; 
} */
