.button-custom {
  height: 20px;
  width: 60px;
  background-color: black;
  color: aliceblue;
}

.container-box {
  width: 400px;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  width: 400px;
}

.text {
  color: aliceblue;
  text-align: center;
  padding-bottom: 40px;
}
